<a href="https://colab.research.google.com/github/ishitababbar28/Machine-Learning/blob/main/3_02_2026.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np

In [ ]:
x = np.array([1,3,4,7,8,9,10,15])

In [ ]:
y = np.array([10,20,30,40,50,60,70,80])

In [ ]:
def Pearson_correlation(X,Y):
    if len(X)==len(Y):
        Sum_xy = sum((X-X.mean())*(Y-Y.mean()))
        Sum_x_squared = sum((X-X.mean())**2)
        Sum_y_squared = sum((Y-Y.mean())**2)
        corr = Sum_xy / np.sqrt(Sum_x_squared * Sum_y_squared)
    return corr

print(Pearson_correlation(x,y))
print(Pearson_correlation(x,x))

0.975482744711536
1.0

In [ ]:
print(Pearson_correlation(y,y))

1.0

In [ ]:
print(Pearson_correlation(y,x))

0.975482744711536

THIS IS A STRONG CORRELATION

In [ ]:
x = np.array([20,12,45,23,78,56,22,15,80])

In [ ]:
y = np.array([50,40,10,60,70,90,80,20,60])

In [ ]:
def Pearson_correlation(X,Y):
    if len(X)==len(Y):
        Sum_xy = sum((X-X.mean())*(Y-Y.mean()))
        Sum_x_squared = sum((X-X.mean())**2)
        Sum_y_squared = sum((Y-Y.mean())**2)
        corr = Sum_xy / np.sqrt(Sum_x_squared * Sum_y_squared)
    return corr

print(Pearson_correlation(x,y))
print(Pearson_correlation(x,x))

0.3440014917710186
1.0

In [ ]:
x4 = np.array([1, 2, 3, 4, 5])

In [ ]:
y4 = np.array([10, 8, 6, 4, 2])

In [ ]:
def Pearson_correlation(X, Y):
    sum_xy = np.sum((X - X.mean()) * (Y - Y.mean()))
    sum_x2 = np.sum((X - X.mean())**2)
    sum_y2 = np.sum((Y - Y.mean())**2)
    return sum_xy / np.sqrt(sum_x2 * sum_y2)

# Output
print(Pearson_correlation(x4, y4))

-1.0

In [ ]:
import pandas as pd

df = pd.read_csv("insurance2.csv")
df.head()

   age     bmi  children      charges
0   19  27.900         0  16884.92400
1   18  33.770         1   1725.55230
2   28  33.000         3   4449.46200
3   33  22.705         0  21984.47061
4   32  28.880         0   3866.85520

In [ ]:
age = df["age"]
bmi = df["bmi"]

In [ ]:
import numpy as np

def Pearson_correlation(X, Y):
    sum_xy = np.sum((X - X.mean()) * (Y - Y.mean()))
    sum_x2 = np.sum((X - X.mean())**2)
    sum_y2 = np.sum((Y - Y.mean())**2)
    return sum_xy / np.sqrt(sum_x2 * sum_y2)

print(Pearson_correlation(age, bmi))

0.10927188154853515

In [ ]:
corr = df.corr(method = 'pearson')
corr

               age       bmi  children   charges
age       1.000000  0.109272  0.042469  0.299008
bmi       0.109272  1.000000  0.012759  0.198341
children  0.042469  0.012759  1.000000  0.067998
charges   0.299008  0.198341  0.067998  1.000000